a {
    text-decoration: none;
}

body {
    font-family: 'assistant', sans-serif;
}

h1 {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    padding: 20px 0;
    text-align: center;
}

h2 {
    color: #FDA769;
    font-family: 'Maven Pro', sans-serif;
    padding: 25px;
}

li {
    list-style: none;
}

p{
    font-family: 'Assistant', sans-serif;
}

/* NAVBAR CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3A98B9;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* logo */

.logo {
    font-size: 32px;
    color:#FDA769;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #FDA769;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
    position: relative;
}

.dropdown {
    background-color: #FFD384;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}

/* MOBILE VERSION */

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50px;
        top: 30px;
        transform: translateX(35%)
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}

/* SKATE 1 CSS */

.header {
    background-color: #000;
}

.paragraph {
    align-items: center;
    background-color: #3A98B9;
    color: #FFD384;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 75px 50px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

/* SKATE 2 CSS */

#sign-up {
    display: block;
}

form {
    text-align: center;
}

button,
input,
select,
textarea {
    box-sizing: border-box;
    display: block;
  font-family: inherit;
  font-size: 100%;
  margin: auto;
  padding: 0;
  width: 150px;
}

.field-Form {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

.form-css {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

/* SKATE 3 CSS */

h1.page3-h1 {
    background-size: 350px 200px;
    background-image: url("../capstone-project/images/skateboard1.jpg");
    background-repeat: no-repeat;
    background-position: left;
    color: #FDA769;
}

ul.page3-ul {
    align-items: center;
    background-color: #3A98B9;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 50px;
   padding: 50px 0 ;
}

li {
    padding-top: 20px;
}

/* SKATE 4 CSS */

img.page4 {
    align-items: center;
    width: 350px;
    height: 350px;
}

.pictures-3-wide {
    text-align: center;
}

.Pictures-2-down {
    text-align: center;
}
